/* Agrega estilos para el nombre del disco */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
  }
.disc p {
    text-align: center;
    font-size: 1.2em;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c; /* Color de fondo oscuro */
    color: white;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .cover-photo{
    width: 100%;
}
.header .cover-photo img {
    width: 100%;
    height: auto;
}
nav{
    margin: 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.main {
    margin: 20px;
}

.discography {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Se ajusta automáticamente según el espacio disponible */
    gap: 20px;
}

.disc {
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.disc img {
    width: 100%;
    height: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* calendario */
#calendar {
    width: 100%;
    background-color: #1a1515; /* Fondo negro para el calendario */
    border: 1px solid #fff; /* Borde blanco alrededor del calendario */
}
.fc-row {
    border-color: #ff0000; /* Color de las líneas */
}
.fc-day-top {
    color: #fff; /* Color de los números de los días */
    background-color: #077e07; /* Fondo de los días de la semana */
}
.fc-day-header {
    background-color: #0b6b0b; /* Fondo de las cabeceras de los días de la semana */
    color: #fff; /* Color del texto de las cabeceras */
}
.fc-content-skeleton table td {
    border: 2px solid #555; /* Color y grosor de las líneas de las fechas */
}
.fc-day, .fc-widget-content {
    border: 1px solid #555; /* Color y grosor de las líneas de las fechas */
}
.fc-title {
    color: #fff; /* Color del texto de los eventos */
}
.event-image {
    width: 100%;
    height: auto;
    max-height: 100px; /* Ajusta esto según sea necesario */
    display: block;
    margin: 5px 0; /* Añadir margen para separación */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
}