@font-face {
    font-family: 'punk';
    src: url('./fonts/Funkrocker.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'punk2';
    src: url('./fonts/edo.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Agrega estilos para el nombre del disco */
:root{
    --color1_background:#060D0C; /*fuente*/
   --color2_background2:#094036; 
   --color3_graficas: #025940;/*color de botones*/
   --color3_boton: #48D995;/*fuente2*/
   --color4_boton2: #50F296;/*tarjetas*/

 
   --fuente_base: 1.3rem;
   --fuente_titutlo: 2.5rem;
   --funete_subtitutlo: 2rem;
 
   --fuente1: "punk", sans-serif;
   --fuente2: "punk2", sans-serif;
   --fuente3: "roboto"

 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
  }
.disc p {
    text-align: center;
    font-size: 1.2em;
}

body {
    font-family: var(--fuente2);
    background-color: var(--color1_background); /* Color de fondo oscuro */
    color: var(--color3_graficas);
}

.header {
    width: 100%;
    background-color: var(--color1_background);
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .cover-photo{
    width: 100%;
    height: 20vh;
    background-image: url(./imagenes/portada.webp);
    background-size: cover; /* Hace que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto para que sea legible sobre la imagen */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espacio interno para que el contenido no toque los bordes */
}
.header .cover-photo img{
    width: 120px;
}
.header .cover-photo p{
    font-family: var(--fuente2);
    font-size: var(--fuente_titutlo);
    animation: vibracion 0.001s infinite alternate;
}
@keyframes vibracion {

    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

nav{
    margin: 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.main {
    margin: 20px;
}
.discografia{
    margin: 30px 10px;
    border: 1px solid var(--color3_graficas);

    box-shadow: 0 4px 8px rgba(27, 243, 117, 0.5), 
                0 6px 20px rgba(8, 243, 106, 0.19); /* Sombreado */
}
.discografia .div_titulo{
    width: 100%;
}
.discografia .div_titulo p{
    text-align: center;
    margin: 10px 0;
    font-size: var(--funete_subtitutlo);
    color: var(--color3_graficas);
    font-weight: 500;
    font-family: var(--fuente2);
}

.discografia .discografia_discos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Se ajusta automáticamente según el espacio disponible */
    gap: 20px;
}
.discografia .discografia_discos a{
    text-decoration: none;
}
.discografia .discografia_discos p{
    color: var(--color3_graficas);
    font-weight: 500;
    font-size: var(--fuente_base);
}

.disc {
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.disc img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* calendario */
.section_calendario{
    width: 90%;
    height: 200px;
    margin: 100px auto;
}
.section_calendario .calendario {
    width: 100%;
    height: auto;
    margin: 30px auto;
}
.section_calendario p{
    text-align: center;
    margin: 10px 0;
    font-size: var(--funete_subtitutlo);
    color: var(--color3_graficas);
    font-weight: 500;
    font-family: var(--fuente2);
}


/* *******************************tabla */
.eventos-tabla {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.eventos-tabla th {
    padding: 12px;
    border: 1px solid var(--color3_graficas);
    font-family: var(--fuente3);
    color: var(--color3_graficas);
    font-weight: 900;
}
.eventos-tabla td{
    padding: 12px;
    border: 1px solid var(--color3_graficas);
    font-family: var(--fuente3);
    color: var(--color3_graficas);
}

.flyer {
    width: 50px; /* Tamaño pequeño para la tabla */
    cursor: pointer;
}
/* Magnific Popup estilos */
.mfp-bg {
    z-index: 1042;
}

.mfp-wrap {
    z-index: 1043;
}

/* footer, contactos y redes sociales */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .contactos{
    width: 100%;
    margin-top: 50px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    color: var(--color3_boton);
}
.footer p{
    font-family: var(--fuente3);
    font-size: var(--fuente_base);
    color: aliceblue;
    font-weight: 500;
}