/* Agrega estilos para el nombre del disco */
:root{
    --color1_background:#060D0C; /*fuente*/
   --color2_background2:#094036; 
   --color3_graficas: #025940;/*color de botones*/
   --color3_boton: #48D995;/*fuente2*/
   --color4_boton2: #50F296;/*tarjetas*/

 
   --fuente_base: 1.5rem;
   --fuente_titutlo: 2.5rem;
   --funete_subtitutlo: 2rem;
 
   --fuente1: 'Rock Salt', cursive;
   --fuente2: "Open Sans", sans-serif;

 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
  }
.disc p {
    text-align: center;
    font-size: 1.2em;
}

body {
    font-family: var(--fuente1);
    background-color: var(--color1_background); /* Color de fondo oscuro */
    color: var(--color3_graficas);
}

.header {
    width: 100%;
    background-color: var(--color1_background);
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .cover-photo{
    width: 100%;
}
.header .cover-photo img {
    width: 100%;
    height: auto;
}
nav{
    margin: 0 auto;
}
nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.main {
    margin: 20px;
}
.discografia{
    margin: 30px 10px;
    border: 1px solid var(--color3_graficas);

    box-shadow: 0 4px 8px rgba(27, 243, 117, 0.5), 
                0 6px 20px rgba(8, 243, 106, 0.19); /* Sombreado */
}
.discografia .div_titulo{
    width: 100%;
}
.discografia .div_titulo p{
    text-align: center;
    margin: 10px 0;
    font-size: var(--fuente_titutlo);
    color: var(--color3_graficas);
    font-weight: 700;
}

.discografia .discografia_discos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Se ajusta automáticamente según el espacio disponible */
    gap: 20px;
}
.discografia .discografia_discos a{
    text-decoration: none;
}
.discografia .discografia_discos p{
    color: var(--color3_graficas);
    font-weight: 700;
    font-size: var(--fuente_base);
}

.disc {
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.disc img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* calendario */
.section_calendario{
    width: 90%;
    height: 200px;
    margin: 100px auto;
}
.section_calendario .calendario {
    width: 100%;
    height: auto;
    margin: 30px auto;
}
.section_calendario p{
    text-align: center;
    margin: 10px 0;
    font-size: var(--fuente_titutlo);
    color: var(--color3_graficas);
    font-weight: 700;}
.fc-row {
    border-color: #ff0000; /* Color de las líneas */
}
.fc-day-top {
    color: #fff; /* Color de los números de los días */
    background-color: #077e07; /* Fondo de los días de la semana */
}
.fc-day-header {
    background-color: #1f1e1c; /* Fondo de las cabeceras de los días de la semana */
    color: #fff; /* Color del texto de las cabeceras */
}
.fc-content-skeleton table td {
    border: 2px solid #555; /* Color y grosor de las líneas de las fechas */
}
.fc-day, .fc-widget-content {
    border: 1px solid #555; /* Color y grosor de las líneas de las fechas */
}
.fc-title {
    color: #fff; /* Color del texto de los eventos */
}
.event-image {
    width: 100%;
    height: auto;
    max-height: 100px; /* Ajusta esto según sea necesario */
    display: block;
    margin: 5px 0; /* Añadir margen para separación */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor */
}